<div class="p-fluid mt-6 px-4">
    <div class="grid flex justify-content-center" >
        <div class="col-6 text-center">
       
                <label for="firstname1">Name</label>
        </div>
        <div class="col-6">
            <input id="firstname1" type="text" pInputText placeholder="Name"> 
        </div>
        <div class="col-6 text-center">
            <label for="firstname1">Password</label>
        </div>
        <div class="col-6">
            <input id="firstname1" type="text" pInputText placeholder="Password"> 
        </div>
        <div class="col-12 md:col-3">
            <button pButton icon="pi pi-power-off" type="button" label="LogIn" ></button>
        </div>
     
    </div>
    <div class="p-grid">
        <div class="p-col-10 p-text-center">
            <h1>
                Hello
            </h1>
        </div>
    </div>
    <!-- <div class="p-field">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText> 
    </div> -->
</div>